body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fdf6e3;
}

header {
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    background-color: rgb(57, 57, 149);
    form{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        border: 2px solid black;
        width: auto;

        select,
        input,
        button {
            height: 1.5rem;
            margin: 0;
            box-sizing: border-box;
            border: transparent;
            background-color: rgb(0, 193, 193);
        }

        select {
            width: 7rem;
        }

        input {
            width: 60rem;
            background-color: white;
        }

        button {
            padding: 2px;
            img {
                object-fit: contain;
                width: 100%;
                height: 100%;
                padding: 0;
                margin: 0;
            }
        }
    }
}

main{
    display: flex;
    flex-direction: column;
    h1{
        padding: 0;
        margin: 3rem auto;
        font-size: 40pt;
    }
}

.cards-container{
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 1rem;
    .card{
        display: flex;    
        flex-direction: column;
        border-radius: 1rem;
        box-shadow: 0.1rem 0.1rem 0.2rem;
        flex:0 300px;
        background-color: white;

        img{
            max-width: 100%;
            aspect-ratio: 16/10;
            object-fit: contain;  
            background-color: rgb(246, 246, 245); 
        }

        p{
            padding: 0;
            margin: 0.2rem 1rem;
        }
        .card-nome{
            font-size: 20pt;
            font-weight: 1000;
        }
        .card-preco{
            font-size: 17pt;
        }
        .card-descricao{
            font-size: 13pt;
            font-style: italic;
        }

        button{
            background-color: rgb(0, 0, 137);
            color: white;
            width: 30%;
            align-self: center;
            margin-top: auto;
            margin-bottom: 1rem;
            border-radius: 1rem;
        }
        
    }

}

footer{
    display: flex;
    justify-content: center;
    p{
        padding: 0;
        margin-top: 2rem;
        font-size: 14pt;
    }
}